<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905494059295-pn0rj5tfsorumb20i7pq6kv63vcu12n4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905494059295-pn0rj5tfsorumb20i7pq6kv63vcu12n4</string>
	<key>API_KEY</key>
	<string>AIzaSyDFa3JHFg_evYoNjV_smjg72Cv55Q-rde8</string>
	<key>GCM_SENDER_ID</key>
	<string>905494059295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.encurtey.ly</string>
	<key>PROJECT_ID</key>
	<string>encurteily</string>
	<key>STORAGE_BUCKET</key>
	<string>encurteily.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905494059295:ios:878cff2c4e83939983782a</string>
</dict>
</plist>